<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Восьмая история о Гарри Поттере. Прошло девятнадцать лет. Быть Гарри Поттером всегда непросто. Вот и сейчас ему, сверх меры загруженному работой в Министерстве Магии, мужу и отцу троих детей школьного возраста, приходится нелегко.</string>
		<key>image</key>
		<string>harrypotter</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Когда в городе началось массовое истребление, они спустились под землю, в канализацию. 12 мужчин, 7 женщин и 2 детей.424 дня они провели без света, с ограниченным запасом еды и воды, полные ненависти друг к другу. С одной целью - спасти свою жизнь.Но стоит ли спасать такую жизнь?Реальная история.</string>
		<key>image</key>
		<string>indark</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Своеобразный антипод второй великой антиутопии XX века &quot;О дивный новый мир&quot; Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда &quot;общество появления&quot; или доведенное до абсолюта &quot;общество идеи&quot;?</string>
		<key>image</key>
		<string>1984</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Сара Андерсен - суперпопулярная художница-иллюстратор, она рисует смешные и неловкие ситуации из жизни - истории о том, как не хочется взрослеть, как стыдно держать симпатичного парня за руку, когда у тебя вспотели ладошки, как жизнь вынуждает делать &quot;взрослые&quot; дела, когда хочется просто лежать дома в пижаме. В конце концов, как сложно заняться делом, когда столько всего интересного в Интернете!</string>
		<key>image</key>
		<string>notWantToGrowUp</string>
	</dict>
</array>
</plist>
